<header>
  <ng-include src="'app/shared/menu/menu.view.html'"></ng-include>
</div>
<section>
  <div class="ui padded basic segment container">
    <h1 class="ui centered dividing header">Pizza Express</h1>
    <div class="ui very padded segments">

      <div class="ui inverted blue segment">
        <h2 class="ui header">Cadastro de Usuário</h2>
      </div>

      <div class="ui segment">
        <form class="ui form">
            <h3 class="ui dividing header">Dados</h3>
            <div class="two fields">
              <div class="required field">
                <label>Nome</label>
                <input type="text" name="name" ng-model="vm.client.name">
              </div>
              <div class="required field">
                <label>Sobrenome</label>
                <input type="text" name="lastname" ng-model="vm.client.lastname">
              </div>
            </div>
            <div class="two fields">
              <div class="required field">
                <label>CPF</label>
                <input type="text" name="cpf" ng-model="vm.client.cpf">
              </div>
              <div class="required field">
                <label>Telefone</label>
                <input type="text" name="phone" ng-model="vm.client.phone">
              </div>
            </div>
            <h3 class="ui dividing header">Endereço</h3>
            <div class="three fields">
              <div class="required eight wide field">
                <label>Logradouro</label>
                <input type="text" name="street" ng-model="vm.client.street">
              </div>
              <div class="required three wide field">
                <label>Número</label>
                <input type="text" name="number" ng-model="vm.client.number">
              </div>
              <div class="required five wide field">
                <label>CEP</label>
                <div class="ui icon input">
                  <input type="text" name="cep" ng-model="vm.client.cep">
                  <i class="inverted circular search link icon"></i>
                </div>
              </div>
            </div>
            <div class="three fields">
              <div class="required field">
                <label>Bairro</label>
                <input type="text" name="district" ng-model="vm.client.district">
              </div>
              <div class="required field">
                <label>Cidade</label>
                <input type="text" name="city" ng-model="vm.client.city">
              </div>
              <div class="required field">
                <label>UF</label>
                <input type="text" name="uf" ng-model="vm.client.uf">
              </div>          
            </div>
          </form>
      </div>

      <div class="ui segment">
        <div class="ui buttons right floated">
          <div class="cleasing">
            <button class="ui positive button" ng-click="vm.submit();">
              <i class="save icon"></i>
              Cadastrar</button>
            <button class="ui button" ng-click="vm.cancel();">
              <i class="cancel icon"></i>
              Cancelar</button>
          </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</section>