<section>
  <div class="ui padded basic segment container">
    <h1 class="ui centered dividing header">Pizza Express</h1>
    <div class="ui segment">
      <div class="ui stackable three column grid">        
        <div class="column" ng-repeat="product in vm.products">
          <sui-link-card header="product.description" img="product.img" img-alt="product.description" 
          ribbon-label="product.price" ng-if="!vm.isLogged"></sui-link-card>
          <sui-link-card header="product.description" img="product.img" img-alt="product.description" 
          ribbon-label="product.price" ng-click="vm.order(product);" ng-if="vm.isLogged"></sui-link-card>
        </div>
      </div>
    </div>
  </div>
</section>